[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twscrape = "==0.11.1"
asyncio = "*"
pandas = "*"
ipykernel = "*"
emoji = "*"
demoji = "*"
nltk = "*"
scikit-learn = "*"
streamlit = "*"
googletrans = "==4.0.0-rc1"
matplotlib = "*"
altair = "*"
deep-translator = "*"
beautifulsoup4 = "*"
folium = "*"
streamlit-folium = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.11"
